html,
body {
    padding: 0;
    margin: 0;
    background-color: #181818;
    overflow: hidden;
    image-rendering: pixelated;
    color: #fff;
}

canvas {
    width: 100%;
    background-color: #1f1f1f;
}

button {
    padding: 1rem;
    border-radius: 10px;
}

@font-face {
    font-family: fontRetroGaming;
    src: url("./assets/fonts/Retro\ Gaming.ttf");
}